.home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  color: white;
  text-align: left;
}

.home-text {
  padding-bottom: 10px;
  padding-left: 8px;
}

.fontawesome {
  border-radius: 50%;
  padding: 10px;
  font-size: 45px;
  margin: 10px;
}

.blue {
  border: 3px solid #00bdce;
  color: #00bdce;
}

.red {
  border: 3px solid #FF007F;
  color: #FF007F;
}

.lila {
  border: 3px solid #70df02;
  color: #70df02;
}

.yellow {
  border: 3px solid #ff9100;
  color: #ff9100;
}