/* ---- React default ---- */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* ---- reset ---- */

html {
  box-sizing: border-box;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: auto;
  padding: auto;
  background-image: linear-gradient(#99804e, #d2bb93, #eee6da);
  min-height: 100%;
  background-repeat: no-repeat;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1, h2, h3, h4, h5 {
  letter-spacing: 2px;
}

h1 {
  font-size: 32px;
  line-height: 147%;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 16px;
  margin-bottom: 0;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0;
  letter-spacing: 2px;
  font-size: 12px;
}

a {
  text-decoration: none;
}

input[type=submit] {
  border: none;
  border-radius: 30px;
  color: #513e29;
  font-size: 12px;
}

input[type=text], input[type=password] {
  border: none;
  border-radius: 30px;
  background-color: white;
  color: #513e29;
  box-shadow: inset 2px 2px 5px #99804e;
  font-size: 12px;
  padding: 15px;
  margin-bottom: 15px;
}

input[type=submit]:hover {
  color: white;
}

.app {
  padding-top: 100px;
}

.section {
  margin: 30px;
}

/* ---- layout ---- */

@media (max-width: 479px) {

  .section {
    margin: 0 7px;
  }

}

/* ---- login and signup ---- */

.login, .signup {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.alert h5 {
  color: #513e29;
}

/* ---- beers ---- */

.beers-title {
  display: flex;
  align-items: center;
}

.beers-title h4 {
  margin-top: 0;
}

.searchbar input{
  width: 100%;
}

.beer-name, .organic {
  padding: 15px;
}

.beer-name h5 {
  margin-top: 0;
}

/* ---- mood ---- */

.mood-image {
  width: 50px;
}

.first-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.mood-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mood-page {
  padding: 15px 0;
}