.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}

.dropdownRight {
  transform: translateX(-40%);
}

.dropdownLeft {
  transform: translateX(40%);
}